@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Ubuntu:wght@300&display=swap');





html {
    color: #9a8866;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: #000;
    margin: 0;
}

h1 {
    margin: 100px auto;
}

h2 {
    color: #70A804;
    text-align: center;
    margin: 100px 0 0 0;
}

h6 {
    position: absolute;
    line-height: 1;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    font-size: 9px;
}



p {
    color: #AEAEB0;
    font-size: 14px;
    line-height: 0;
    position: relative;
    bottom: -10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}

#roll {
    color: #9a8866;
    background-color: #1B1B1B;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    transition: .2s ease-in;
    font-size: 15px;
}

#roll:hover {
    transition: .2s ease-in;
    color: #000;
    background-color: #9a8866;
}

.loot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
    max-height: 962px;
}

.loot-box {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 25px 10px 25px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #0d0d0d;
    border: 2px solid #9a886686;
    border-radius: 5px;
    text-align: center;
    transition: .1s ease-out;
}

.loot-box:hover {
    transform: scale(1.01);
    transition: .1s ease-in;
}