@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Ubuntu:wght@300&display=swap');


html,
body {
    margin: 0;
    padding: 0;
}


html {
    color: #9a8866;
    font-family: 'Rajdhani', sans-serif;
}

body {
    background-color: #000;
    margin: 0;
}

.nav {
    height: 60px;
    background-color: #1B1B1B;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }

    from {
        opacity: 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0)
    }

    to {
        opacity: 1;
        border-bottom: 2px solid rgba(255, 255, 255, 0.418);
    }

}

@keyframes buttonGrow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

h1 {
    margin: 0 0 50px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.418);
    animation: 1.5s ease-out 0s 1 slideInFromTop;
    font-size: 40px;
    letter-spacing: 4px;
}

h2 {
    color: #70A804;
    text-align: center;
}

h6 {
    position: absolute;
    line-height: 1;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-size: 11px;
}

p {
    color: #AEAEB0;
    font-size: 14px;
    line-height: 0;
    position: relative;
    bottom: -10px;
}

.time {
    color: red;
    font-size: 35px;
    font-weight: bold;
}

img {
    height: 80px;
    width: 80px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    font-weight: bold;
    padding: 0 10px;
    letter-spacing: 3px;
}

a:nth-child(2) {
    border-left: 2px solid #aeaeb03d;
}

a:hover {
    color: #6b6b6b;
    border-bottom: 2px solid #aeaeb03d;
    transition: ease-in-out 0.5s;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.button-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.stash {
    display: none;
    color: #9a8866;
    margin: 60px 0 0 0;
    border-bottom: 4px solid #1B1B1B;
}

.balance {
    margin: 40px 0 0 0;
    display: none;
    max-width: 500px;
    min-height: 30px;
}

#stash {
    display: block;
    color: #9a8866;
    background-color: #1B1B1B;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    transition: .1s ease-in;
    font-size: 14px;
    letter-spacing: 2px;
    animation: 1.5s ease-in-out 0s 1 buttonGrow;
}


#sell {
    display:block;
    color: #9a8866;
    background-color: #1B1B1B;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    transition: .1s ease-in;
    font-size: 14px;
    letter-spacing: 2px;
    animation: 1.5s ease-in-out 0s 1 buttonGrow;
}

#roll {
    color: #9a8866;
    background-color: #1B1B1B;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    transition: .1s ease-in;
    font-size: 15px;
    letter-spacing: 2px;
    animation: 1.5s ease-in-out 0s 1 buttonGrow;
}

#roll:hover {
    transition: .1s ease-in;
    color: #000;
    background-color: #9a8866;
}

#bank {
    display: none;
    color: #9a8866;
    background-color: #1B1B1B;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    transition: .2s ease-in;
    font-size: 15px;
}

#bank:hover {
    transition: .2s ease-in;
    color: #000;
    background-color: #9a8866;
}

.loot-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 667px;
}

#logoname {
    width: 300px;
}

.loot-box {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 25px 10px 25px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #0d0d0d;
    border: 2px solid #9a886686;
    border-radius: 5px;
    text-align: center;
    transition: .1s ease-out;
}

.loot-box:hover {
    transform: scale(1.01);
    transition: .1s ease-in;
}

.randlootname {
    font-size: 15px;
    color: #9a8866;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.randlootprice {
    font-size: 15px;
    color: #70A804;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0 0 0;
}

#logoname rect {
    stroke-dasharray: 1334px;
    stroke-dashoffset: 1334px;
    stroke-linejoin: round;
    animation: logo-animate 2s linear forwards .3s, fill2 1s ease forwards 2.3s;
}

#logoname ellipse {
    stroke-dasharray: 730.63px;
    stroke-dashoffset: 730.63px;
    stroke-linejoin: round;
    opacity: 0;
    animation: fadein 1s ease forwards 10s;
}

/* bottom part */
#logoname path:nth-child(2) {
    stroke-dasharray: 921.81px;
    stroke-dashoffset: 921.81px;
    stroke-linejoin: round;
    animation: logo-animate 2s linear forwards .3s, fill2 1s ease forwards 2.3s;
}

/* top part */
#logoname path:nth-child(3) {
    stroke-dasharray: 1283.04px;
    stroke-dashoffset: 1283.04px;
    stroke-linejoin: round;
    animation: logo-animate 2s linear forwards, fill 1s ease forwards 2.3s;
}

/* top curve */
#logoname path:nth-child(5) {
    stroke-dasharray: 837.56px;
    stroke-dashoffset: 837.56px;
    stroke-linejoin: round;
    animation: logo-animate 2s linear forwards .3s, fill2 1s ease forwards 2.3s;
}

/* plate */
#logoname path:nth-child(6) {
    stroke-dasharray: 1200.42px;
    stroke-dashoffset: 1200.42px;
    stroke-linejoin: round;
    animation: logo-animate 2s ease forwards 2.5s, fill3 1s ease forwards 4s;
}

/* stripe */
#logoname path:nth-child(7) {
    stroke-dasharray: 1150.7px;
    stroke-dashoffset: 1150.7px;
    stroke-linejoin: round;
    animation: logo-animate 1s ease forwards 5s, fill4 1s ease forwards 6s;
}

/* stripe */
#logoname path:nth-child(8) {
    stroke-dasharray: 1159.8px;
    stroke-dashoffset: 1159.8px;
    stroke-linejoin: round;
    animation: logo-animate 1s ease forwards 5s, fill4 1s ease forwards 6s;
}

/* stripe */
#logoname path:nth-child(9) {
    stroke-dasharray: 1159.8px;
    stroke-dashoffset: 1159.8px;
    stroke-linejoin: round;
    animation: logo-animate 1s ease forwards 5s, fill4 1s ease forwards 6s;
}

/* hole in visor */
#logoname path:nth-child(10) {
    stroke-dasharray: 921.81px;
    stroke-dashoffset: 921.81px;
    stroke-linejoin: round;
    animation: logo-animate 2s ease forwards 2.5s, fill5 1s ease forwards 4s;
}


@keyframes logo-animate {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }

    to {
        fill: #343539;
    }
}

@keyframes fill2 {
    from {
        fill: transparent;
    }

    to {
        fill: #3D3E43;
    }
}

@keyframes fill3 {
    from {
        fill: transparent;
    }

    to {
        fill: #36373d;
    }
}

@keyframes fill4 {
    from {
        fill: transparent;
    }

    to {
        fill: #ffffff;
    }
}

@keyframes fill5 {
    from {
        fill: transparent;
    }

    to {
        fill: #000000;
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
